body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 40px;
    font-size: 3.2rem;
}

.button-yamada-start {
    position: relative;
    font-size: 24px;
    padding: 20px 40px 20px 40px;
    border-radius: 25px;
    background-color: blueviolet;
    color: white;
    border: none medium transparent;
    outline: none;
    cursor: pointer;
    z-index: 3;
}

button[disabled] {
    background-color: grey;
    cursor: none;
}

.button-yamada-close {
    position: fixed;
    z-index: 1002;
    top: 10%;
    left: calc(50% + 300px);
    transform: translate(-50%, 0%);
    font-size: 40px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    padding: 15px 25px 15px 25px;
    outline: none;
    border: 4px solid white;
    cursor: pointer;
    display: none;
}

.button-yamada-close.button-show {
    display: block;
}

.wrapper-yamada {
    padding: 40px;
    position: relative;
}

.wrapper-yamada-image-container {
    position: relative;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-gap: 40px;
    justify-content: center;
    transform: rotate(45deg);
}

.wrapper-yamada-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.wrapper-yamada-image.active > .image-yamada {
    filter: none;
}

.image-yamada {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: rotate(-45deg);
    filter: grayscale(100%) brightness(70%) contrast(2);
}

.wrapper-yamada-modal {
	display: none; 
	position: fixed; 
	z-index: 1000; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
	align-items: center;
	justify-content: center;
}

.wrapper-yamada-modal.show {
	display: flex; 
}

.modal-content {
    position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	border-radius: 10px;
    z-index: 1001;
}


.modal-content::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 10px;
    filter: blur(10px);
    opacity: 0.8;
}

.modal-content.normal::before {
    background: #ccc;
}

.modal-content.normal {
    box-shadow: 0 0 200px #ccc;
}

.modal-content.rare::before {
    background: #9fe8ff;
}

.modal-content.rare {
    box-shadow: 0 0 200px #9fe8ff;
}

.modal-content.super-rare::before {
    background: #c4adff;
}

.modal-content.super-rare {
    box-shadow: 0 0 200px #c4adff;
}

.modal-content.special-super-rare::before {
    background: #ee9;
}

.modal-content.special-super-rare {
    box-shadow: 0 0 200px #ee9;
}

.modal-content.ultra-rare::before {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
}

.modal-content.ultra-rare {
    box-shadow: 0 0 200px orange;
}

audio {
	width: 100%;
}

.wrapper-yamada-modal .image-yamada {
    filter: none;
    transform: none;
}

.wrapper-yamada-modal h1,
.wrapper-yamada-modal p {
    color: #27292c;
}